[defaults]
roles_path = roles
collections_path = ~/.ansible/collections:/usr/share/ansible/collections
timeout = 120
command_timeout = 120
stdout_callback = default
callbacks_enabled = ansible.posix.timer
host_key_checking = False
retry_files_enabled = False
gathering = smart
fact_caching = memory
ignore_certs = True
interpreter_python = auto_silent

[privilege_escalation]
become = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
