<DOMAIN>
    <DOMAIN>{{ icewarp_sync_domain }}</DOMAIN>
    <ISGROUP>0</ISGROUP>
    <ACTIVE>1</ACTIVE>
    <HOST>{{ icewarp_ldap_url }}</HOST>
    <USER>{{ ldap_bind_dn }}</USER>
    <PASS>{{ LDAP_BIND_PASSWORD }}</PASS>
    <SECHOST/>
    <HOSTDOMAINACTIVE>{{ icewarp_hostdomain_active }}</HOSTDOMAINACTIVE>
{% if icewarp_hostdomain | length > 0 %}
    <HOSTDOMAIN>{{ icewarp_hostdomain }}</HOSTDOMAIN>
{% else %}
    <HOSTDOMAIN/>
{% endif %}
    <HOSTLOOKUPTYPE>0</HOSTLOOKUPTYPE>
    <EXTERNALSYNC>0</EXTERNALSYNC>
    <EXTERNALSYNCLIB/>
    <DN>{{ ldap_base_dn }}</DN>
    <SYNCACCOUNTS>1</SYNCACCOUNTS>
    <ACCOUNTFILTERS>{{ icewarp_account_filter | e }}</ACCOUNTFILTERS>
    <SYNCGROUPS>1</SYNCGROUPS>
    <GROUPFILTERS>(objectClass=groupOfNames)</GROUPFILTERS>
    <SYNCMAILINGLISTS>0</SYNCMAILINGLISTS>
    <MAILINGLISTFILTERS/>
    <USERNAMEFROMCN>0</USERNAMEFROMCN>
    <USERNAME_PREFERE_SAMACCOUNTNAME>0</USERNAME_PREFERE_SAMACCOUNTNAME>
    <ADUSERNAMETOALIAS>0</ADUSERNAMETOALIAS>
    <CREATEGROUPSFOROUS>0</CREATEGROUPSFOROUS>
    <GROUPSFOROUSROOT/>
    <GROUPSFOROUSROOTNAME/>
    <USERNAMEFROMADUSERNAME>0</USERNAMEFROMADUSERNAME>
    <USERNAMEFROMSPECIALFIELD>uid</USERNAMEFROMSPECIALFIELD>
    <DISPLAYNAMEFROMADGIVENNAME>0</DISPLAYNAMEFROMADGIVENNAME>
    <GROUPSUPPORTREMOTEMEMBERS>0</GROUPSUPPORTREMOTEMEMBERS>
    <ALLDATADELETION>0</ALLDATADELETION>
    <VCARDMAP><![CDATA[FN:${displayName,fn}
N:${sn};${givenName}
NOTE:${!description}
TITLE:${!title}
ORG:${company,o};${ou|department}
TEL;TYPE=PREF,WORK,VOICE:${!telephoneNumber}
TEL;TYPE=CELL:${!mobile,othermobile}
EMAIL;TYPE=INTERNET:${!mail,othermailbox,proxyaddresses}
]]></VCARDMAP>
    <GUIDSOURCE>entryUUID</GUIDSOURCE>
    <GUIDISBINARY>0</GUIDISBINARY>
    <WHENCHANGEDSOURCE>modifyTimestamp</WHENCHANGEDSOURCE>
    <ALLOWMISSINGWHENCHANGEDSOURCE>0</ALLOWMISSINGWHENCHANGEDSOURCE>
    <LDAPVCARDWINS>1</LDAPVCARDWINS>
    <USERTYPES/>
    <GROUPTYPES/>
    <LDAPSERVERTYPE>{{ ldap_server_type }}</LDAPSERVERTYPE>
    <SSOACTIVE>0</SSOACTIVE>
    <SSOMATCHING>0</SSOMATCHING>
    <SSOSERVICENAME/>
    <LDAPUSERFROMDN>1</LDAPUSERFROMDN>
    <DISABLEVCARDSYNC>0</DISABLEVCARDSYNC>
    <DISABLEVCARDDOMAINRENAME>0</DISABLEVCARDDOMAINRENAME>
</DOMAIN>
